---
import Layout from "../layouts/Layout.astro";

import Construction from "../assets/construction.svg";
---

<Layout>
	<section class="font-mono flex flex-col justify-center items-center h-96">
		<h1 class="font-extrabold text-6xl">404</h1>
		<h2 class="text">not found</h2>

		<Construction class="size-16 absolute left-8 bottom-0" />
	</section>
</Layout>
