---
import Layout from "../layouts/Layout.astro";
import CopyButton from "../components/CopyButton.svelte";
import EightyEightyThirtyOne from "../components/88x31.svelte";
---

<Layout>
	<section
		class="mb-0! transition-all duration-300 delay-100 starting:opacity-0 starting:translate-y-4 text-[0.938rem] [&_img]:w-[88px] [&_img]:h-[31px]"
	>
		<legend>buttons</legend>

		<p class="mb-1">
			Welcome to my collection of 88x31 buttons, containing cool websites or just random buttons. Get my button below, hotlinking is perfectly fine:
		</p>

		<div class="flex">
			<a href="https://trafficlunar.net/" target="_blank" class="shrink-0 mt-2 mr-2 h-min"
				><img src="/88x31.gif" width="88" height="31" alt="trafficlunar" /></a
			>

			<div class="bg-mantle p-2.5 rounded-lg relative border border-surface0/75 shadow-sm mt-2">
				<CopyButton client:load />

				<code class="text-sm font-mono" style="font-variant-ligatures: none;">
					<span class="text-teal">{"<"}</span><span class="text-blue">a</span>
					<span class="text-yellow">href</span><span class="text-teal">=</span><span class="text-green">{'"https://trafficlunar.net/"'}</span>
					<span class="text-yellow">target</span><span class="text-teal">=</span><span class="text-green">{'"_blank"'}</span><span class="text-teal"
						>{"><"}</span
					><span class="text-blue">img</span>
					<span class="text-yellow">src</span><span class="text-teal">=</span><span class="text-green">{'"https://trafficlunar.net/88x31.gif"'}</span>
					<span class="text-yellow">alt</span><span class="text-teal">=</span><span class="text-green">{'"trafficlunar"'}</span>
					<span class="text-teal">{"/></"}</span><span class="text-blue">a</span><span class="text-teal">{">"}</span>
				</code>
			</div>
		</div>

		<EightyEightyThirtyOne />
	</section>
</Layout>
