---
import Layout from "../layouts/Layout.astro";

import Music from "../components/Music.svelte";
import Computer from "../components/Computer.svelte";
---

<Layout>
	<Music client:load />

	<section class="pt-0! transition-all duration-300 delay-200 starting:opacity-0 starting:translate-y-4">
		<legend>computer</legend>

		<Computer client:load />
	</section>
</Layout>
